.ffw2 {}
.ffw2 .label {}
.ffw2.with-menu {
  position: relative; }
  .ffw2.with-menu .label {
    position: relative; }
     .ffw2.with-menu .label .name { 
     position: relative; } 
  .ffw2.with-menu .highlight {
    display: none;
    position: absolute;
    top: -6px;
    left: -4px;
    width: 100%;
    height: 100%;
    padding: 2px 12px 2px 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #CAD8F3;
    background: url(images/file-arrow.png) no-repeat 97% 50%; }
  .ffw2.with-menu ul {
    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 100%;
    min-width: 75px;
    margin: 0 0 0 10px;
    padding: 5px 0;
    list-style: none;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ddd;
    border-width: 1px 2px 2px 1px;
    background: #fff; }
    .ffw2.with-menu ul li {
      display: inline;
      margin: 0;
      padding: 0;
      list-style: none; }
      .ffw2.with-menu ul li a {
        display: block;
        padding: 1px 10px;
        color: #222;
        text-decoration: none;
        white-space: nowrap; }
      .ffw2.with-menu ul li a:hover {
        background: #DEE7F8; }
.ffw2.with-menu span.label:hover {}
  .ffw2.with-menu span.label:hover .highlight {
    display: block; }
.ffw2.with-menu .label.active {}
  .ffw2.with-menu .label.active .highlight {
    display: block;
    border: 2px solid #6D95E0;
    background-color: #DEE7F8; }

