/* $Id */

div.ffw2-system {
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 5px;
  height: 100%;
  overflow: auto;
  position: relative;
}

div.ffw2-dropdown {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: #dddddd;
  z-index: 2000;
}

div.ffw2-dropdown-element {
  border: 1px solid black;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  display: block;
}

/* FOLDERS */

div.ffw2-folder {
  clear: both;
  padding-left: 0px; /* 16px */
  margin-top: 5px;
  cursor: pointer;
}

div.ffw2-folder > div.ffw2-cells > div.ffw2-toggle {
  background: url(images/collapsed.png) no-repeat left 2px !important;
}

div.ffw2-folder.empty > div.ffw2-cells > div.ffw2-toggle {
  background-image: none !important;
}

div.ffw2-folder.empty.expanded > div.ffw2-cells > div.ffw2-toggle {
  background-image: none !important;
}

div.ffw2-folder.expanded > div.ffw2-cells > div.ffw2-toggle {
  background: url(images/expanded.png) no-repeat left 2px !important;
}

div.ffw2-folder div.ffw2-cells div.ffw2-toggle {
  display: block;
  float: left;
  width: 16px;
}

div.ffw2-folder div.ffw2-cells div.ffw2-icon {
  background: url(icons/folder.png) no-repeat left top;
}

div.ffw2-folder div.ffw2-cells div.ffw2-spinner {
  float: left;
  width: 24px;
  background: url(images/kittscanner.gif) no-repeat center;
}

div.ffw2-folder div.ffw2-node, div.ffw2-folder div.ffw2-folder {
  margin-left: 21px;
}

/* FILES */

div.ffw2-node {
  clear: both;
  //padding-left: 16px;
  padding-left: 8px;
  margin-top: 5px;
}

.selected {
  background-color: #bbb;
  color: #fff;
}

.selected div a:link {
  color: #fff;
}

div.ffw2-node div.ffw2-cells div.ffw2-icon {
  //background: url(icons/file.png) no-repeat left top;
  background: none;
  /*width: 21px;*/
  width: 5px;
  /*margin-right: 5px;*/
}

/* FILE CELLS */

div.ffw2-cells {
  clear: none;
  height: 20px;
  width: 100%;
}

div.ffw2-cells div {
  height: 18px;
  vertical-align: middle;
  text-align: right;
  font-size: 11px;
}

div.ffw2-cells div.ffw2-icon {
  float: left;
  width: 21px;
}

div.ffw2-cells div.ffw2-title {
  float: left;
}

div.ffw2-cells div.ffw2-size {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

div.ffw2-cells div.ffw2-date {
  float: right;
  width: 120px;
}

/* PREVIEW */

div#block-ffw2_browser-newterm {
  /*display: none;*/
}

div#block-ffw2_browser-upload {
  /*display: none;*/
}

div#block-ffw2_browser-preview {
  /*display: none;*/
}

div#ffw2-preview-spinner {
  width: 100%;
  height: 32px;
  background: url(images/spinner.gif) no-repeat center;
  text-align: center;
}

div#ffw2-preview-info {
  text-align: center;
}

div#ffw2-preview-info th {
  background: none;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  border: none;
  color: black;
}

div#ffw2-preview-info td {
  text-align: left;
}

div#ffw2-references {
  text-align: left;
}

div.ffw2-block-scroll {
  display: block;
  max-height: 200px;
  overflow: auto;
}

div#edit-og-public-wrapper {
  margin-bottom: 0em;
}

input#edit-upload-submit, div#ffw2-upload-progress {
  margin-top: 1em;
}

