div#ffw2-gallery-head {}

div#ffw2-gallery-filter {
  float: right;
}

div#ffw2-gallery-filter label {
  display: inline;
  margin-right: 5px;
}

div#ffw2-gallery-body {
  clear: both;
}

span.ffw2-gallery-empty {
  font-size: small;
}

ul.ffw2-gallery {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.ffw2-gallery li.ffw2-gallery {
  background: transparent;
  display: inline;
  float: left;
  font-size: x-small;
  text-align: center;
  list-style: none;
  background-color: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px #ccc solid;
  padding: 5pt 0pt 0pt 0pt;
  margin: 5px 10px 5px 0;
}

ul.ffw2-gallery li a {
}

ul.ffw2-gallery li a img {
  border: none;
}

ul.ffw2-gallery li span div.no-thumbnail {
  width: 80pt;
  border: 1px #ccc solid;
  padding: 2px;
  font-size: small;
}

#wrapper.gallery {
  background: none;
}

#wrapper #container .breadcrumb.gallery {
  position: static;
  display: none;
}

div.ffw2-gallery-nav, div.ffw2-gallery-nav a {
  color: #529AD6;
}

#tabs-wrapper.ffw2-gallery{
  margin: 0px;
}

#section-ffw2_gallery #level0 #level1 #main #level2 #level3 #content ul.pager { 
  padding-top: 20px; 
  clear: left; 
}

