div.ffw2-attachments {
  clear: both;
}

div.ffw2-attach-container {
  clear: both;
  padding: 2px;
}

div.ffw2-attach-show {
  padding: 5px;
  border: 1px solid grey;
}

a.ffw2-attach-download-button,
a.ffw2-attach-preview-button {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  background-color: #A6CEE7;
  border:1px solid #61789C;
  font-weight: bold;
  padding: 3px 6px;
  margin-right: 5px;
}

a.ffw2-attach-download-button:link,
a.ffw2-attach-preview-button:link,
a.ffw2-attach-download-button:visited,
a.ffw2-attach-preview-button:visited {
  color: #FFFFFF; 
}

a.ffw2-attach-download-button:hover,
a.ffw2-attach-preview-button:hover {
  background-color: #61789C;
  text-decoration: none;
}

a.ffw2-attach-preview-button.active {
  border: 1px solid #D30000;
}

a.ffw2-attach-preview-button.active:hover {
  background-color: #D30000;
}

